/* Import original template CSS */
@import url("./css/bootstrap.min.css");
@import url("./css/all.min.css");
@import url("./css/ionicons.min.css");
@import url("./css/magnific-popup.css");
@import url("./css/owl.carousel.min.css");
@import url("./css/responsive.css");

/* @tailwind base;
@tailwind components;
@tailwind utilities;*/



@import url("./css/style.css");
@import url("./css/typography.css");
@import url("./css/wow.css");

